<!DOCTYPE html>
<html ng-app="LunchCheck">

<head>
  <meta charset="UTF-8">
  <title>Lunch Check</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

  <script src="script.js"></script>
  <style>
    .message {
      color: rgb(222, 16, 16);
    }
  </style>
</head>

<body ng-controller="LunchCheckController">
  <h1>Lunch Check</h1>
  <div>
    <input type="text" ng-model="lunchItems" placeholder="Enter comma-separated items">
    <button ng-click="checkLunchItems()">Check If Too Much</button>
  </div>
  <p class="message" ng-show="message">{{ message }}</p>
</body>

</html>
